body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./src/assets/fondoPokemon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#canvas {
  border: 15px solid rgb(235, 239, 255);
  border-style: ridge;
  box-shadow: 1px 1px 0px hsl(333, 42%, 10%);
}

.container {
  border: 3px transparent solid;
  position:static;
  padding-right: 100px;
  padding-bottom: 300px;
  
}
.img {
  position: static;
  float: left;
}